:root {
  --golden-scale: 1.6180339887498948482;
  --gr-400: calc(var(--hierarchy) / var(--golden-scale));
  --gap-400: 16px;
  --section-spacer: calc(var(--golden-scale) * 5vw);
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
}

/* ! resets */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  /* border: 1px solid hsla(0, 100%, 50%, 0.38); */
  margin: 0;
  padding: 0;
}

/* * utitlity class */

.container {
  margin: 0 auto;
  padding: 0 1.618em;
  max-width: 1000px;
}

.section-spacer {
  margin-top: var(--section-spacer);
}

/* * navigation */
.primary-navigation {
  padding: calc(var(--gap-400) * var(--golden-scale)) 0;
}
@media screen and (min-width: 40em) {
  .primary-navigation__menu {
    display: flex;
    gap: var(--gap-400);
  }
}
ul.primary-navigation__menu :first-child {
  /* padding-right: 20em; */
  flex: 1;
}

/* ** golden ratio */

/* **** */
/* * cards * */

.cards {
  display: grid;
  grid-template-columns: 1.618fr 1fr;
  row-gap: calc(var(--section-spacer) - var(--gap-400) * 0);
}
/* *card */

.cards__card {
  display: flex;
  flex-direction: column;
  /* box-shadow: 1px 1px 1px #000; */
}

.cards__card__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-400);
}

.cards__card {
  background-color: white;
}

.--padding-400 {
  padding: calc(
    var(--section-spacer) / (var(--golden-scale) * var(--golden-scale))
  );
}

/* todo 618x618 382x618 rectangles */
