:root {
  --golden-scale: 1.6180339887498948482;
  --gr-400: calc(var(--hierarchy) / var(--golden-scale));
  --gap-400: 16px;
  --section-spacer: calc(var(--golden-scale) * 5vw);
  --ff-sans-normal: "Nunito", "Lato", Helvetica, Verdana, Arial, sans-serif;
  --ff-sans-bold: "Montserrat", "Lato", Helvetica, Verdana, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  font-family: var(--ff-sans-normal);
  font-weight: 381;
}

/* * * * */
/* * typography - golden ditonic scale* */
/* * ref: https://spencermortensen.com/articles/typographic-scale/ * */
h1,
h2,
h3,
.fs-h1,
.fs-h2,
.--fs-h3 {
  font-family: var(--ff-sans-bold);
}
h1,
.--fs-h1 {
  font-size: 2.0582rem;
  font-weight: 787;
}

h2,
.--fs-h2 {
  font-size: 1.618rem;
  font-weight: 619;
}

h3,
.--fs-h3 {
  font-size: 1.272rem;
  font-weight: 619;
}

p,
.--fs-p {
  font-size: 1rem;
  font-weight: 381;
}

footer,
.--fs-footer {
  font-size: 0.7862rem;
  font-weight: 298;
}
/* // */
/* ! resets */
/* // */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  /* border: 1px solid hsla(0, 100%, 50%, 0.38); */
  margin: 0;
  padding: 0;
}

/* * a link resets */
a {
  text-decoration: none;
}

/* * utitlity class */

.container {
  margin: 0 auto;
  padding: 0 1.618em;
  max-width: 1000px;
}

.section-spacer {
  margin-top: var(--section-spacer);
}

/* * navigation */
.primary-navigation {
  padding: calc(var(--gap-400) * var(--golden-scale)) 0;
  box-shadow: 2px 2px 6.18px #33333361;
}
@media screen and (min-width: 40em) {
  .primary-navigation__menu {
    display: flex;
    gap: var(--gap-400);
  }
}

ul.primary-navigation__menu :first-child {
  /* padding-right: 20em; */
  flex: 1;
}

a.logo {
  color: #333;
  font-weight: 600;
}

/* ** golden ratio */

/* **** */
/* * cards * */

.cards {
  display: grid;
  grid-template-columns: 1.618fr 1fr;
  row-gap: calc(var(--section-spacer) - var(--gap-400) * 0);
}
/* *card */

.cards__card {
  display: flex;
  flex-direction: column;
  /* box-shadow: 1px 1px 1px #000; */
}

.cards__card__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-400);
}

.cards__card {
  background-color: white;
}

.--padding-400 {
  padding: calc(
    var(--section-spacer) / (var(--golden-scale) * var(--golden-scale))
  );
}

/* todo 618x618 382x618 rectangles */


.section-1 {
  background-image: url(https://cdn.mos.cms.futurecdn.net/fBDDfnojKNjUycTegbeswJ-970-80.jpg.webp);
  /* opacity: 1; */
}
